body {
    text-align: center;
      background-color: rgba(201, 76, 76, 0.3);
    
}


header {
    font-family: 'Ultra', serif;
    padding-top: 40;
    padding-bottom: 40;
    background-color:#FF8C00;
    color: white;
}

.btn {
    background-color: #323232;
}


input {
    margin: 0.25rem;
    border-radius: 0.5rem;
    text-align: center;
    width: 35%;
    background-color:#F5F5DC;
}

@media screen and (max-width: 500px) {
    input {
        width: 100%;
    }
}
